{% liquid
  assign id = section.id
%}

<style>
    #shopify-section-{{id}} {
      box-sizing: border-box;
      margin-top: {{section.settings.margin_top | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
      padding-top: {{section.settings.padding_top | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
      overflow: hidden;
      
        background-color: #fcfaf6;
     
    }

    @media(max-width: 768px) {
      #shopify-section-{{id}} {
        margin-top: {{section.settings.margin_top_m | append: 'px'}};
        margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
        padding-top: {{section.settings.padding_top_m | append: 'px'}};
        padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
      }
    }
    #shopify-section-{{id}}{
      .title{
        color: var(--Content-Base-main);
        font-family: var(--font-family-Title, "Neue Plak");
        font-size: var(--Font-Size-Heading-H2);
        font-style: normal;
        font-weight: 400;
        line-height: var(--Line-Height-Heading-H2);
        letter-spacing: -0.4px;
        text-transform: capitalize;
        margin: 0 0 var(--Spacing-Container-md);
        
          color: var(--Content-Base-main);
        
      }
      .card-grid-container{
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        gap: var(--Spacing-Container-sm, 16px);
        @media(max-width: 768px){
          grid-template-columns: minmax(0,1fr);
        }
      }
      {% comment %} Card Styles {% endcomment %}
       video {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 3/4;
            object-fit: cover;
        }
      /* Swiper Navigation */
      .collection-list-wrapper{
        position: relative;
      }
      .swiper:not(.swiper-initialized) .swiper-slide {
        max-width: calc(var(--page-width)/4) !important;
        margin-right: 16px;
        overflow: hidden;
      }
      .mfc__nav-scroll__wrapp {
        display: flex;
        display: none;
        gap: 40px;
        align-items: center;
        padding: 12px;
      }
      

      .button__wrapper_swiper {
          display: flex;
          gap: 16px;
          align-items: center;
      }
      .--nav-icon {
          width: 40px;
          height: 40px;
          display: flex;
          background: var(--Primary, #004027);
          line-height: 1;
          /* position: absolute; */
          position: relative;
          /* top: 50%; */
          z-index: 1;
          border-radius: 0%;
          align-items: center;
          justify-content: center;
          /* transform: translateY(-50%); */
          box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
          cursor: pointer;
          path {
            stroke: #fff;
          }
      }
      .swiper-scrollbar-{{ section.id }} {
        position: relative !important;
        left: 0 !important;
        bottom: 0 !important;
        /* margin: var(--Spacing-Container-sm) 0 0 0; */
        height: 3px !important;
        opacity: 1 !important;
        width: 100% !important;
        cursor: pointer;
        padding-block: 16px;
        z-index: 1;
        background: transparent;
        .swiper-scrollbar-drag {
          background: #004027;
          display: block !important;
          height: 2px;
        }
      }
      .swiper-scrollbar-{{ section.id }}::before {
        position: absolute;
        content: "";
        background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, .1));
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
      }
      .--nav-icon.swiper-button-disabled {
          background: #EDFCF6;
          path {
            stroke: #B3DCCC;
          }
      }      
      .--nav-icon.swiper-button-disabled.swiper-button-lock{
            display: none;
        }
  .absolute-link {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
  }
    }
</style>

<div class="sec-{{ id }}" id="collection-list--{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      <div class="top-wrapper">
        {% if section.settings.title != blank %}
          <h2 class="title">{{ section.settings.title }}</h2>
        {% endif %}
      </div>
      <div class="collection-list-wrapper">
        {% if section.settings.enable_slider == true %}
          <div class="swiper swiper-{{ section.id }}">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="swiper-slide">
                                    
                    {% if block.settings.video != blank %}
                    {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    {% else %}
                        <h3>Please Select a Video</h3>
                        {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="mfc__nav-scroll__wrapp">
            <div class="swiper-scrollbar-{{ section.id }} swiper-scrollbar"></div>
            <div class="button__wrapper_swiper">
              <div class="prev-{{ section.id }} --nav-icon ">
                
                {% render 'all-icons', name: 'swiper_left' %}
              </div>
              <div class="next-{{ section.id }} --nav-icon ">
                {% render 'all-icons', name: 'swiper_right' %}
               
              </div>
            </div>
          </div>          
         
        {% else %}
          <div class="card-grid-container">
            {% for block in section.blocks %}
              <div class="card-grid">
                <h1>Test</h1>
                {% comment %} {% if block.type == 'collection' %}
                  {% render 'card-collection',
                    card_collection: block.settings.collection,
                    name: block.settings.collection_name,
                    image: block.settings.collection_image,
                    forloop: forloop,
                    block: block
                  %}
                {% else %}
                  {% render 'card-collection',
                    url: block.settings.url,
                    name: block.settings.name,
                    image: block.settings.image,
                    forloop: forloop,
                    block: block
                  %}
                {% endif %} {% endcomment %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper(".swiper-{{ section.id }}", {
      slidesPerView: {{ section.settings.slides_per_view_mbl }},
      spaceBetween: 12,
      breakpoints: {
        768: {
          slidesPerView: {{ section.settings.slides_per_view }},
          spaceBetween: 8,
        },
      },
      navigation: {
        nextEl: '.next-{{ section.id }}',
        prevEl: '.prev-{{ section.id }}'
      },
      scrollbar: {
        el: ".swiper-scrollbar-{{ section.id }}.swiper-scrollbar",
        draggable: true,
        hide: false
      },      
      {% comment %} navigation: {
        nextEl: "#slider-next--{{ section.id }}",
        prevEl: "#slider-prev--{{ section.id }}",
      } {% endcomment %}
    });
  });
</script>

{% schema %}
{
  "name": "Video Card Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "show_steps",
      "label": "Show Steps",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable Slider",
      "default": true
    },
    {
      "type": "range",
      "id": "slides_per_view",
      "min": 3,
      "max": 6,
      "step": 0.2,
      "label": "Slides Per View",
      "default": 3
    },
    {
      "type": "range",
      "id": "slides_per_view_mbl",
      "min": 1,
      "max": 2,
      "step": 0.2,
      "label": "Slides Per View On Mobile",
      "default": 1.2
    },
     {  
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "limit": 4,
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "Upload Videos of 3/4 aspect ratio"
        },
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Card Slider"
    }
  ]
}
{% endschema %}
